@import "../../../src/theme/rules.scss";

.inputContainer {
  margin: 2.375rem auto;
  width: 18.5rem;
  border-bottom: solid 1px var(--ion-secondary-text-color);

  display: flex;
  justify-content: flex-start;
  padding-bottom: .3125rem;

  label {
    width: 10%;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 1rem;
    height: 1rem;
   
  }
  input {
    all: unset;
  
    text-align: start;
    width: 90%;

    @include Ltext_02;
  }
}
